.container {
    margin: 10px;
}

.wrap {
    margin-bottom: 2em;
}

#container-header {
    display: flex;
    flex-flow: row wrap;
}
#logo {
    flex: 0 0 180px;
    order: 1;
    height: 130px;
    background: url(/images/translate5.png?v=1) no-repeat left -12px #ffffff;
    background-position-x: left;
    background-position-y: -12px;
    background-size: auto auto;
    background-size: 150px;
    background-position: 19px 19px;
}
#languageSelector {
    flex: 1 1 auto;
    order: 2;
    text-align: right;
    margin-right: 7px;
    margin-top: 19px;
}
#logout {
    flex: 0 0 80px;
    order: 3;
    text-align: right;
    margin-top: 19px;
}

@media (max-width: 610px) {
    #logo {
        flex: 0 1 100%;
        text-align:left;
        margin-right: 0px;
    }
    #logo { order: 3; }
    #languageSelector { order: 1; text-align: left;}
    #logout { order: 2; }
}

@media (max-width: 400px) {
    .container-content .ui-button {
        display: block;
        width: auto;
    }
}

#languages label {
    margin-right: 5px;
}

#searchForm {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    padding: 12px 10px 10px 10px;
    margin: 5px 0px;
}

#search {
    flex: 1 1 auto;
    order: 1;
    margin-right: 5px;
    padding: 0px 5px;
}
#searchButton {
    flex: 0 0 20px;
    order: 2;
}

#search,
#searchButton {
    height: 2em;
    position: relative;
    margin-top:  -3px;
}

#finalResultContent {
    display: flex;
    flex-flow: row wrap;
}

#searchTermsHolder {
    flex: 0 0 12em;
    order: 1;
    margin-right: 5px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x:  scroll;
    padding-right: 30px;
}

#searchTermsSelect,
#searchTermsSelect ul,
#searchTermsSelect li  { width: 100%;}
#searchTermsSelect { list-style-type: none; margin: 0px; padding: 0px; }
#searchTermsSelect li { margin: 3px; padding: 0.4em; }

@media (max-width: 700px) {
    #searchTermsHolder {
        flex-grow: 1;
        flex-basis: 90%;
        max-height: 200px;
        margin-right: 0px;
        margin-bottom: 15px;
    }
}

#resultTermsHolder {
    flex: 1 1 auto;
    order: 2;
    flex-shrink: 1;
    flex-grow:  1;
}

@media (min-width: 700px) {
    #resultTermsHolder {
        max-height: 520px;
        overflow-y: scroll;
        padding-right: 30px;
    }
}

#resultTermsHolder div {
    overflow-y: scroll;
}

#termTable,
#termAttributeTable {
    width: 100%;
}

h4, p {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 5px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


