#container {
    margin: 10px;
}

.wrap {
    margin-bottom: 2em;
}

#languages label {
    margin-right: 5px;
}

#searchForm {
    display: flex;
    flex-flow: row wrap;
    padding: 12px 10px 10px 10px;
    margin: 5px 0px;
}

#search {
    flex: 1 1 auto;
    order: 1;
    margin-right: 5px;
    padding: 0px 5px;
}
#searchButton {
    flex: 0 0 20px;
    order: 2;
}

#search,
#searchButton {
    height: 2em;
    position: relative;
    margin-top:  -3px;
}

#finalResultContent {
    display: flex;
    flex-flow: row wrap;
}

#searchTermsHolder {
    flex: 0 0 12em;
    order: 1;
    margin-right: 5px;
    margin-bottom: 5px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x:  hidden;
    padding-right: 30px;
}

#searchTermsSelect { list-style-type: none; margin: 0; padding: 0; }
#searchTermsSelect li { margin: 3px; padding: 0.4em; }

#resultTermsHolder {
    flex: 1 1 auto;
    order: 2;
}

#resultTermsHolder div {
    max-height: 420px;
    overflow: scroll;
}

#resultTermsHolder table {
    width: 100%;;
}

.tabble-inner-style td,.tabble-inner-style th{
	padding: 8px;
	border-radius: 5px;
}

.tabble-inner-style{
	background-color: #E8F2FF;
}

.tabble-inner-style tr:nth-child(even){background-color: #ffffff;}

.tabble-inner-style tr:nth-child(even){background-color: #ffffff;}

#termTable tr:hover {background-color: #ddd; cursor: pointer;}


