client-specific
application/config/installation.ini
data/editorImportedTasks/*
data/tbx-import/*
data/dummyTm_*
/nbproject/
.buildpath
.project
.settings/
.vscode/*
#needed for automated tests on server:
public/scheduled-tests-trigger.php
public/scheduled-tests/*
/vendor
/composer.phar
# needed for ./translate5.sh release:notes
/jira-cookie.txt
cghooks.lock
/.idea
.idea
translate5.bat
translate5.pub
translate5

/.idea/workspace.xml

