[submodule "library/ZfExtended"]
        path = library/ZfExtended
        url = ../ZfExtended.git
[submodule "application/modules/editor/PrivatePlugins"]
	path = application/modules/editor/PrivatePlugins
	url = ../privateplugins.git
[submodule "app-tm-erp"]
	path = app-tm-erp
	url = ../app-tm-erp.git
