/client-specific
application/config/installation.ini
data/editorImportedTasks*
data/editorVisualReviewFonts*
data/tbx-import/*
!data/tbx-import/term-images-public
data/dummyTm_*
/nbproject/
.buildpath
.project
.metadata
.settings/
.vscode/*
#needed for automated tests on server:
public/scheduled-tests-trigger.php
public/scheduled-tests/*
/vendor
/composer.phar
# needed for ./translate5.sh release:notes
/jira-cookie.txt
cghooks.lock
_mails
/.idea
.idea
/windows-installer-config.ini
