# User data dirs
/data/ConnectWorldserver*
/data/editorImportedTasks*
/data/editorOkapiBconf*
/data/editorVisualReviewFonts*
/data/purchaseOrderPdfs*
/data/tbx-import*
/data/dummyTm_*

# Dirs
/.idea/
/client-specific
/nbproject/
/vendor/

# External dependencies
/public/ext-6.2.0

# Files
/.jshintrc
/application/config/installation*
/cghooks.lock
/composer.phar
# needed for ./translate5.sh release:notes
/jira-cookie.txt

# Special
# needed for automated tests on server:
/public/scheduled-tests/
/public/scheduled-tests-trigger.php

# Eclipse
/.metadata/
/.settings/
/.buildpath
/.project

# Tests
/test-requests/*.env.json
/testdata/*

