image: atlassian/default-image:2

options:
  docker: true

# Increase memory from default 1024 to 3072 mb as otherwise run of
# the pipeline fails with error "Container 'docker' exceeded memory limit"
definitions:
  services:
    docker:
      memory: 7128

pipelines:
  custom:
    test:

      # Prompt for the branch to be checked out if there is no branch we're going to test
      # in any of other repos and prompt for the specific test or suite to run, if specific
      - variables:
          - name: GIT_BRANCH_FALLBACK
            default: develop
            allowed-values:
              - develop
              - master
          - name: SPECIFIC_TEST_OR_SUITE

      # Clone docker-repo and run all things from there
      - step:
          size: 2x
          script:
            - git clone https://$GIT_USER:$GIT_TOKEN@bitbucket.org/mittagqi/docker.git
            - cd docker && ./bitbucket/test-script.sh
          after-script:
            - cd docker && ./bitbucket/test-after-script.sh

