includes:
	- .phpstan/baseline.php
parameters:
	bootstrapFiles:
		- .phpstan/constants.php
	editorUrl: 'phpstorm://open?file=%%relFile%%&line=%%line%%'
	level: 5
	paths:
		- application
		- library
		- Translate5