<?php
/******************************************************************************
 * Server configuration for the message and socket server started by server.php
 ******************************************************************************
 *
 * IMPORTANT:
 * Copy this file to config.php in the same directory and replace the below values to your need
 * The uppercase predefined values MUST be changed, the other values should work out of the box but can be changed when needed 
 * 
 * SSL:
 *  HowTo use SSL in the socket server
 *  The recommended way to use SSL is via proxying either with nginx or apache.
 *  add the following in the apache SSL vserver config: ProxyPass /tobedefined/ ws://server.domain:9056/
 *  in javascript (instance config) new WebSocket("wss://server.domain/tobedefined/");
 *  For the message Server no SSL is needed since connections should be only locally!
 */
$configuration = [
    //put one or multiple emails here, which should receive an email when the socket server is starting (for supervisord auto restart recognition)
    // needs a working PHP e-mail setup on the server! Does not work with Zend SMTP configured mail servers! 
    'bootMailReceiver' => '',
    'messageServer' => [
        //address: IP address to listen for connections of translate5 instances 
        // MUST match the server configured in messageServer config in the instance. 
        'address' => '127.0.0.1',
        
        //port:       Port to listen on.
        // MUST match the messagePort config in the instance. 
        'port' => '9057',
    ],
    'socketServer' => [
        //httpHost:   HTTP hostname clients intend to connect to. 
        // IMPORTANT MUST match the socketServer config in the translate5 instance and (if used) in Apache ProxyPass statement! 
        // (MUST match JS `new WebSocket('ws://$httpHost');`)
        'httpHost' => 'SET.A.VALID.HOSTNAME.HERE',
        
        //port:       Port to listen on.
        // MUST match the socketPort config in the instance. 
        'port' => '9056',
        
        //listen:    IP address to bind to. '0.0.0.0' for any interface.
        'listen' => '0.0.0.0',
        
        //route:    The URL path to be used for the socket server, defaults to /translate5 and should normally not to be changed.
        // When using SSL via ProxyPass, the proxy path (/tobedefined/ in the above example) MUST NOT added here!
        'route' => '/translate5',
    ]
];