# exclude private plugin symlinks from beeing comitted (obfuscated here by wildcard)
/Translate*
/MittagQI
/PlunetConnector
/PrivateTests
/ConnectWorldserver
/AcrossHotfolder
/CotiHotfolder
/IpAuthentication
/TermImport
/E?????r
/F?????s
/M???e
/O????I
/S?????o
/S???????e
/T?????T
/T?????????e
