#php_value session.auto_start 0
Options -Indexes
RewriteEngine On
#RewriteRule ^v-[0-9]\.[0-9]\.[0-9]/(.*)$ $1 [NC,L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d 
RewriteRule ^.*$ - [NC,L]

#files tried to be loaded from reference HTML files are not piped through PHP
RewriteCond %{REQUEST_URI} editor/referencefile/
RewriteCond %{HTTP_REFERER} editor/referencefile/.*\.html$ 
RewriteRule ^.*$ - [NC,L]

RewriteRule ^.*$ index.php [NC,L]
