;import directory of the tbx files
importDir=/var/www/translate5/data/tbx-import/filesystem/;

;mapping between file and term collection name
[FileMapping]
Term.tbx=exampletermCollection;
Term1.tbx=exampletermCollection;
Term2.tbx=exampletermCollection;
Export.tbx=exampletermCollection;
example2.tbx=exampletermCollection2;
example3.tbx=exampletermCollection3

;mapping between term collection name and customer number
[CollectionMapping]
exampletermCollection3=10001;
exampletermCollection2=100001;
exampletermCollection=10002;