/* Definition of environment vars that can be used in the Request files. */
/* Documentation see https://www.jetbrains.com/help/phpstorm/http-client-in-product-code-editor.html*/
{
  "dev": { /* there can be more profiles e.g. live systems [for which PHPstorm even supports defining a proxy if needed]. */
    "baseurl": "http://translate5.local", /* The full base url of the installation */
    "host": "translate5.local", /* The host of the installation */
    "protocol": "http", /* The protocol of the installation */
    "user": "@USER@", /* The user login to use */
    "password": "@PASSWORD@" /* The user password to use */
  }
}
