.wrap {
    width: 100%;
    margin-bottom: 3em;
}

.center {
    text-align: center;
    padding: 0px auto;
}
.serchField{
	width:50em;
	height:2em;
}

#searchButton{
	height:1.8em;
	background-color: white;
}

#languages{
	background-color: #01579B;
	height:2em;
	border-radius: 4px;
	color:white;
}
#languages > option{
    background-color: white;
    color:black;
}

#finalResultContent {
    display: flex;
    flex-flow: row wrap;
}

#searchTermsHolder {
    flex: 0 0 10em;
    order: 1;
}

#resultTermsHolder {
    flex: 1 1 auto;
    order: 2;
}

#searchTermsSelect { list-style-type: none; margin: 0; padding: 0; }
#searchTermsSelect li { margin: 3px; padding: 0.4em; }

.tabble-inner-style td,.tabble-inner-style th{
	padding: 8px;
	border-radius: 5px;
}

.tabble-inner-style{
	background-color: #E8F2FF;
}

.tabble-inner-style tr:nth-child(even){background-color: #ffffff;}

.tabble-inner-style tr:nth-child(even){background-color: #ffffff;}

#termTable tr:hover {background-color: #ddd; cursor: pointer;}


