<phpunit bootstrap="bootstrap.php" cacheResult="true" colors="true">
    <listeners>
        <listener class="Testomatio\Reporter\PHPUnit" file="../../../../vendor/testomatio/reporter/src/PHPUnit.php" />
    </listeners>
  <extensions>
    <!-- <extension class="MittagQI\Translate5\Test\Api\BeforeFirstTest"/> -->
    <extension class="MittagQI\Translate5\Test\Api\AfterLastTest"/>
  </extensions>
  <testsuites>
    <testsuite name="segment-tags">
      <file>Unit/Segment/SegmentTagsTest.php</file>
      <file>Unit/Segment/SegmentTagsCloneTest.php</file>
      <file>Unit/Segment/SegmentTagsComparisionTest.php</file>
      <file>Unit/Segment/SegmentTagsOverlapTest.php</file>
      <file>Unit/Segment/SegmentTagsRepairTest.php</file>
      <file>Unit/Segment/TagsRepairTest.php</file>
      <file>Unit/Tools/MarkupTest.php</file>
    </testsuite>
    <testsuite name="quality">
      <file>editorAPI/QualityBaseTest.php</file>
      <file>editorAPI/QualityConsistencyTest.php</file>
      <file>editorAPI/QualityCsvMqmTest.php</file>
      <file>editorAPI/QualityFaultyTest.php</file>
      <file>editorAPI/QualityNumbersCheckTest.php</file>
      <file>editorAPI/QualitySegmentEmptyTest.php</file>
      <file>editorAPI/QualitySpellCheckTest.php</file>
    </testsuite>
    <testsuite name="okapi">
      <file>../Plugins/Okapi/tests/OkapiBconfTest.php</file>
      <file>../Plugins/Okapi/tests/OkapiBconfFilterTest.php</file>
      <file>../Plugins/Okapi/tests/OkapiExportTest.php</file>
      <file>../Plugins/Okapi/tests/OkapiExtensionMappingTest.php</file>
      <file>../Plugins/Okapi/tests/OkapiSegmentationTest.php</file>
    </testsuite>
    <testsuite name="visual">
      <file>../Plugins/VisualReview/tests/VisualTimecodeTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualHtmlTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualImageTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualPdfTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualMergePdfTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualVideoTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualWgetTest.php</file>
    </testsuite>
    <testsuite name="connectworldserver">
      <file>../Plugins/ConnectWorldserver/tests/ExternalOnlineReviewTest.php</file>
    </testsuite>
    <testsuite name="deepl">
      <file>../Plugins/DeepL/tests/DeepLGlossaryTest.php</file>
      <file>../Plugins/DeepL/tests/DeepLLanguageResourceApiTest.php</file>
    </testsuite>
    <testsuite name="xlfimport">
      <file>editorAPI/XlfImportFailTest.php</file>
      <file>editorAPI/XlfImportTest.php</file>
      <file>editorAPI/XlfSegmentLengthTest.php</file>
      <file>editorAPI/XlfSegmentLinesPixelLengthTest.php</file>
      <file>editorAPI/XlfSegmentPixelLengthTest.php</file>
    </testsuite>
    <testsuite name="termportal">
      <file>editorAPI/TermProposalTest.php</file>
      <file>editorAPI/Translate2491Test.php</file>
      <file>editorAPI/Translate3013Test.php</file>
      <file>editorAPI/TbxSpecialcharsTest.php</file>
      <file>editorAPI/Translate3207Test.php</file>
    </testsuite>
    <testsuite name="tilde">
      <file>../Plugins/TildeMT/tests/Functional/MtTest.php</file>
    </testsuite>
    <testsuite name="translate24">
      <file>../Plugins/Translate24/tests/Api/ErrorTest.php</file>
      <file>../Plugins/Translate24/tests/Api/ResultTest.php</file>
      <file>../Plugins/Translate24/tests/Api/TmApiTest.php</file>
      <file>../Plugins/Translate24/tests/Api/GlossaryApiTest.php</file>
      <file>../Plugins/Translate24/tests/functional/Quality24TranslateTest.php</file>
    </testsuite>
    <testsuite name="auth">
      <file>editorAPI/Translate3108Test.php</file>
      <file>editorAPI/Translate3048Test.php</file>
      <file>editorAPI/SessionApiTest.php</file>
      <file>editorAPI/ClientPmTest.php</file>
    </testsuite>
    <testsuite name="unit">
      <directory>Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
