<phpunit bootstrap="bootstrap.php" cacheResult="true" colors="true">
  <extensions>
    <!-- <extension class="MittagQI\Translate5\Test\Api\BeforeFirstTest"/> -->
    <extension class="MittagQI\Translate5\Test\Api\AfterLastTest"/>
  </extensions>
  <testsuites>
    <testsuite name="segment-tags">
      <file>editorAPI/SegmentTagsTest.php</file>
      <file>editorAPI/SegmentTagsCloneTest.php</file>
      <file>editorAPI/SegmentTagsComparisionTest.php</file>
      <file>editorAPI/SegmentTagsOverlapTest.php</file>
      <file>editorAPI/SegmentTagsRepairTest.php</file>
      <file>editorAPI/TagsRepairTest.php</file>
    </testsuite>
    <testsuite name="quality">
      <file>editorAPI/QualityBaseTest.php</file>
      <file>editorAPI/QualityConsistencyTest.php</file>
      <file>editorAPI/QualityCsvMqmTest.php</file>
      <file>editorAPI/QualityFaultyTest.php</file>
      <file>editorAPI/QualityNumbersCheckTest.php</file>
      <file>editorAPI/QualitySegmentEmptyTest.php</file>
      <file>editorAPI/QualitySpellCheckTest.php</file>
    </testsuite>
    <testsuite name="okapi">
      <file>../Plugins/Okapi/tests/OkapiBconfTest.php</file>
      <file>../Plugins/Okapi/tests/OkapiBconfFilterTest.php</file>
      <file>../Plugins/Okapi/tests/OkapiExportTest.php</file>
    </testsuite>
    <testsuite name="visual">
      <file>../Plugins/VisualReview/tests/VisualHtmlTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualImageTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualPdfTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualMergePdfTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualVideoTest.php</file>
      <file>../Plugins/VisualReview/tests/VisualWgetTest.php</file>
    </testsuite>
    <testsuite name="xlfimport">
      <file>editorAPI/XlfImportFailTest.php</file>
      <file>editorAPI/XlfImportTest.php</file>
      <file>editorAPI/XlfSegmentLengthTest.php</file>
      <file>editorAPI/XlfSegmentLinesPixelLengthTest.php</file>
      <file>editorAPI/XlfSegmentPixelLengthTest.php</file>
    </testsuite>
    <testsuite name="unit">
      <directory>Unit</directory>
    </testsuite>
  </testsuites>
</phpunit>
